<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".view.FiveMoreApp"
        android:networkSecurityConfig="@xml/net_sec"
        android:icon="${appIcon}"
        android:label="@string/fb_name"
        android:theme="@style/AquaTheme">
        <activity
            android:name=".view.FiveMore"
            android:exported="true"
            android:label="@string/fb_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AquaTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.GameActivity"
            android:exported="false"
            android:label="@string/fb_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AquaTheme" />
        <activity
            android:name=".view.OptionsActivity"
            android:exported="false"
            android:label="@string/fb_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AquaTheme" />

        <!-- The application's publisher ID assigned by AdMob -->
        <meta-data
            android:value="ca-app-pub-6064071708465213~3296842365"
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            />

        <!-- AdMobActivity definition -->
        <!--        <activity-->
        <!--            android:name="com.google.ads.AdActivity"-->
        <!--            android:configChanges="keyboard|keyboardHidden|orientation"-->
        <!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />-->

        <!-- Track Market installs -->
        <!-- <receiver android:name="com.admob.android.ads.analytics.InstallReceiver" android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.android.vending.INSTALL_REFERRER" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

    </application>

</manifest>